@using System.Globalization
@model List<HNSHOP.Dtos.Response.ProductResDto>
@if (Model != null && Model.Any())
{
	@foreach (var product in Model)
	{
		<div class="col-sm-4">
			<div class="product-image-wrapper">
				<div class="single-products">
					<div class="productinfo text-center">
						<img src="~/images/hnshop/@(product.Images.FirstOrDefault()?.Path ?? "default.jpg")"
							 alt="@product.Name" style="height: 300px; width:260px" />
						<h2>@product.Price.ToString("C0", CultureInfo.GetCultureInfo("vi-VN"))</h2>
						<p>@product.Name</p>

						@if (User.Identity.IsAuthenticated && User.IsInRole("User"))
						{
							<!-- Chỉ tài khoản khách hàng mới có nút thêm vào giỏ -->
							<button class="btn btn-default add-to-cart" data-product-id="@product.Id"
									data-quantity="1">
								<i class="fa fa-shopping-cart"></i> Thêm vào giỏ hàng
							</button>
						}
					</div>
				</div>

				<div class="choose">
					<ul class="nav nav-pills nav-justified">
						@if (User.Identity.IsAuthenticated && User.IsInRole("User"))
						{
							<!-- Chỉ user mới có thêm yêu thích -->
							<li>
								<a href="javascript:void(0);" class="like-btn" data-product-id="@product.Id">
									<i class="fa fa-heart"></i>
									<span class="like-text">@(product.IsLiked ? "Bỏ yêu thích" : "Thêm yêu thích")</span>
								</a>
							</li>
						}

						<li>
							<a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">
								<i class="fa fa-plus-square"></i> Chi tiết sản phẩm
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

	}
}
else
{
	<p class="text-center">Không có sản phẩm nào phù hợp.</p>
}

@section Scripts {
	<script>
						$(document).ready(function () {
			$(".like-btn").click(function (e) {
				e.preventDefault();

				let button = $(this);
				let productId = button.data("product-id");

				$.ajax({
					url: "/Products/ToggleLike",
					type: "POST",
					data: { productId: productId },
					success: function (res) {
						if (res.success) {
							if (res.liked) {
								button.find("i").addClass("text-danger");
								button.find(".like-text").text("Bỏ yêu thích");
							} else {
								button.find("i").removeClass("text-danger");
								button.find(".like-text").text("Thêm yêu thích");
							}
						}
					},
					error: function () {
						alert("Lỗi khi thực hiện thao tác.");
					}
				});
			});
		});


	</script>
}
