@using System.Globalization
@model List<HNSHOP.Dtos.Response.ShopCartGroupDto>

<section id="cart_items">
    <div class="container" id="cart-container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Shopping Cart</li>
            </ol>
        </div>

        @{
            var hasItems = Model.Any(s => s.Items.Any());
        }

        @if (!hasItems)
        {
            <h2 class="title text-center">
                Giỏ hàng của bạn đang trống. <a asp-controller="Home" asp-action="Index">Tiếp tục mua sắm</a>
            </h2>
            <br />

            <br />

            <br />
        }
        else
        {
            foreach (var shop in Model)
            {
                if (!shop.Items.Any()) { continue; }

                <div class="shop-group" id="shop-@shop.ShopId">
                    <h3 class="text-left">🛍 Shop: @shop.ShopName</h3>
                    <div class="table-responsive cart_info">
                        <table class="table table-condensed">
                            <thead>
                                <tr class="cart_menu">
                                    <td class="image">Hình ảnh</td>
                                    <td class="image">Sản phẩm</td>
                                    <td class="price">Giá</td>
                                    <td class="quantity">Số lượng</td>
                                    <td class="total">Tổng</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in shop.Items)
                                {
                                    <tr id="cart-item-@item.ProductId">
                                        <td class="cart_product">
                                            <a asp-controller="Products" asp-action="Details" asp-route-id="@item.ProductId">
                                                <img src="~/images/hnshop/@item.Image" alt="" style="width: 110px; height: 110px; margin-right: 50px" />
                                            </a>
                                        </td>
                                        <td class="cart_description">
                                            <h4>
                                                <a asp-controller="Products" asp-action="Details" asp-route-id="@item.ProductId">
                                                    @(item.Name.Length > 40 ? item.Name.Substring(0, 37) + "..." : item.Name)
                                                </a>
                                            </h4>

                                        </td>
                                        <td class="cart_price">
                                            <p id="product-price-@item.ProductId" data-price="@item.Price">
                                                @item.Price.ToString("C0", CultureInfo.GetCultureInfo("vi-VN"))
                                            </p>
                                        </td>
                                        <td class="cart_quantity">
                                            <div class="cart_quantity_button">
                                                <a href="javascript:void(0);" class="cart_quantity_down"
                                                   data-product-id="@item.ProductId" data-action="decrease"> - </a>
                                                <input class="cart_quantity_input" type="text" value="@item.Quantity" readonly size="2" />
                                                <a href="javascript:void(0);" class="cart_quantity_up"
                                                   data-product-id="@item.ProductId" data-action="increase"> + </a>
                                            </div>
                                        </td>
                                        <td class="cart_total">
                                            <p class="cart_total_price" id="product-total-@item.ProductId">
                                                @((item.Price * item.Quantity).ToString("C0", CultureInfo.GetCultureInfo("vi-VN")))
                                            </p>
                                        </td>
                                        <td class="cart_delete">
                                            <button type="button"
                                                    class="btn btn-light border-0 cart-remove-item"
                                                    data-product-id="@item.ProductId"
                                                    data-shop-id="@item.ShopId">
                                                <i class="fa fa-times" style="color: lightgray;"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                       
                    </div>

                </div>
            }
            <div class="table-responsive cart_info" style="max-width: 400px; margin-left: auto;">
                <table class="table table-condensed total-result">
                    <tr>
                        <td>Tổng tiền hàng</td>
                        <td id="cart-total">@ViewBag.Total.ToString("N0") VNĐ</td>
                    </tr>
                    <tr>
                        <td>Phí vận chuyển</td>
                        <td>Miễn phí</td>
                    </tr>
                    <tr>
                        <td>Tổng giảm giá</td>
                        <td><span class="text-danger" id="cart-discount">- @ViewBag.TotalDiscount.ToString("N0") VNĐ</span></td>
                    </tr>
                    <tr>
                        <td><strong>Tổng thanh toán</strong></td>
                        <td>
                            <input type="hidden" id="finalTotal" value="@ViewBag.FinalTotal" />
                            <span id="cart-total-final">@ViewBag.FinalTotal.ToString("N0") VNĐ</span>
                        </td>
                    </tr>
                </table>
            </div>


            <hr />
            <div class="cart-buttons text-right">
                <form asp-action="ClearCart" asp-controller="Cart" method="post" id="clear-cart-form">
                    <button type="submit" class="btn btn-danger">
                        <i class="fa fa-trash"></i> Xóa toàn bộ giỏ hàng
                    </button>
                </form>
            </div>

            <br />
            <div class="text-right cart-buttons">
                <a asp-controller="Orders" asp-action="Create" class="btn btn-success btn-lg">
                    <i class="fa fa-check-circle"></i> Đặt hàng
                </a>
            </div>
        }
    </div>
    <br />
</section>

<script src="~/js/cart.js"></script>
