@using Microsoft.EntityFrameworkCore

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>@ViewData["Title"] | HNShop</title>
	<!-- Nếu bạn dùng các class cũ như 'fa fa-calendar-o', hãy dùng Font Awesome 4 -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<link href="~/css/bootstrap.min.css" rel="stylesheet">
	@* <link href="~/css/font-awesome.min.css" rel="stylesheet"> *@
	<link href="~/css/prettyPhoto.css" rel="stylesheet">
	<link href="~/css/price-range.css" rel="stylesheet">
	<link href="~/css/animate.css" rel="stylesheet">
	<link href="~/css/responsive.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
	<link href="~/css/main.css" rel="stylesheet">

	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	<link rel="shortcut icon" href="~/images/ico/favicon.ico">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/images/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/images/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/images/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="~/images/ico/apple-touch-icon-57-precomposed.png">
	<!-- Thêm vào trong <head> -->
	<link rel="icon" type="image/x-icon" href="~/images/home/favicon.ico" />


	<!-- Thư viện SweetAlert2 -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<!-- 1️⃣ Tải jQuery trước -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<!-- 2️⃣ Tải jQuery UI sau jQuery -->
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>


	<!-- 3️⃣ Thêm CSS jQuery UI -->
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


</head><!--/head-->
@RenderSection("Scripts", required: false)
<body>
	<div class="page-wrapper">
		<header id="header">
			<div class="header-middle">
				<!--header-middle-->
				<div class="container"  >
					<div class="row" >
						<div class="col-sm-4">
							<div class="logo pull-left">
								<a asp-controller="Home" asp-action="Index"><img src="~/images/home/logo.png" alt="" /></a>
							</div>

						</div>
						<div class="col-sm-8">
							<div class="shop-menu pull-right">
								@if (User.Identity.IsAuthenticated){
									<ul class="nav navbar-nav">
										@{
											int unreadNotificationCount = 0;

											var userIdClaim = User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier);
											int userId = userIdClaim != null ? int.Parse(userIdClaim.Value) : 0;

											if (userId > 0)
											{
												unreadNotificationCount = _context.UserNotifications
												.Include(un => un.Notification)
												.Count(un => un.AccountId == userId && !un.IsRead);
											}
										}

										<li class="position-relative">
											<a asp-controller="Notification" asp-action="Index">
												<i class="fa fa-bell"></i> Thông báo
												@if (unreadNotificationCount > 0)
												{
													<span class="badge badge-danger" style="position: absolute; top: -12px; right: -10px; background-color:#E89415;">
														@unreadNotificationCount
													</span>
												}
											</a>
										</li>

									@using System.Security.Claims
									@inject HNSHOP.Data.ApplicationDbContext _context
										@if (User.Identity.IsAuthenticated && !User.IsInRole("Admin")) // Chỉ khách hàng
										{
											<li class="position-relative">
												<a asp-controller="Chat" asp-action="Index">
													<i class="fa fa-comments"></i> Trò chuyện
													<span id="chatBadge" class="badge badge-danger" style="position: absolute; top: -12px; right: -10px; display:none; background-color:#E89415; ">
														0
													</span>
												</a>
											</li>
										}


										@if (User.Identity.IsAuthenticated && User.IsInRole("User")) // Chỉ khách hàng
										{
											<li><a asp-controller="Products" asp-action="Favorites"><i class="fa fa-heart"></i> Yêu Thích</a></li>
											<li><a asp-controller="Orders" asp-action="Index"><i class="fa fa-credit-card"></i> Đơn Hàng</a></li>

											<li>
												<a asp-controller="Cart" asp-action="Index">
													<i class="fa fa-shopping-cart"></i> Giỏ hàng <span id="cart-count" class="badge badge-danger" style="position: absolute; top: -12px; right: -10px; display:none; background-color:#E89415">@ViewBag.CartCount</span>
												</a>
											</li>
										}


										<li class="dropdown">
											<div style="margin-top:4px;">
												<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
													<span class="ml-1">@User.Identity.Name</span>
													<img src="~/images/hnshop/avatar/@User.FindFirst("Avatar")?.Value" class="rounded-circle" style="width:32px; height:32px; border-radius: 50%" />

												</a>
												<ul class="dropdown-menu">
													<li><a asp-controller="ACcounts" asp-action="Index">Thông tin tài khoản</a></li>
													<li>
														<form id="logoutForm" asp-controller="Auth" asp-action="Logout" method="post">
															<button type="submit" class="btn btn-link dropdown-item">
																<i class="fa fa-sign-out"></i> Đăng xuất
															</button>
														</form>
													</li>
												</ul>
											</div>
										</li>



									</ul>
								}
								else{}
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="header-bottom">
				<!--header-bottom-->
				<div class="container">
					<div class="row">
						<div class="col-sm-9">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>
							<div class="mainmenu pull-left">
								<ul class="nav navbar-nav collapse navbar-collapse">
									@if (User.Identity.IsAuthenticated && User.IsInRole("Shop"))
									{
										<li>
											<a asp-controller="Home" asp-action="Index" class="active">
												<i class="fa fa-home"></i> Home
											</a>
										</li>
										<li class="dropdown">
											<a href="#"><i class="fa fa-shopping-bag"></i> Cửa Hàng <i class="fa fa-angle-down"></i></a>
											<ul role="menu" class="sub-menu">
												<li>
													<a asp-controller="Products" asp-action="Manage">
														<i class="fa fa-cubes"></i> Quản lý sản phẩm
													</a>
												</li>
												<li>
													<a asp-controller="ShopOrders" asp-action="Index">
														<i class="fa fa-truck"></i> Quản lý đơn hàng
													</a>
												</li>
												<li>
													<a asp-controller="ACcounts" asp-action="Index">
														<i class="fa fa-user-circle"></i> Tài Khoản
													</a>
												</li>
												<li>
													<a asp-controller="ShopStats" asp-action="Index">
														<i class="fa fa-bar-chart"></i> Thống kê của Shop
													</a>
												</li>
											</ul>
										</li>

									}

									@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
									{
										<li class="dropdown">
											<a href="#"><i class="fa fa-cogs"></i> Quản Trị <i class="fa fa-angle-down"></i></a>
											<ul role="menu" class="sub-menu">
												<li>
													<a asp-controller="SaleEvent" asp-action="Index">
														<i class="fa fa-tags"></i> Quản Lý giảm giá
													</a>
												</li>
												<li>
													<a asp-controller="AdminOrders" asp-action="Index">
														<i class="fa fa-clipboard"></i> Kiểm tra đơn hàng
													</a>
												</li>
												<li>
													<a asp-controller="ProductType" asp-action="Index">
														<i class="fa fa-list-alt"></i> Quản lý loại sản phẩm
													</a>
												</li>
												<li>
													<a asp-controller="AdminStats" asp-action="Index">
														<i class="fa fa-bar-chart"></i> Thống kê sản phẩm
													</a>
												</li>
											</ul>
										</li>
										<li class="dropdown">
											<a href="#"><i class="fa fa-users"></i> Quản Tài Khoản <i class="fa fa-angle-down"></i></a>
											<ul role="menu" class="sub-menu">
												<li>
													<a asp-controller="AdminShop" asp-action="Index">
														<i class="fa fa-cart-plus"></i> Quản lý Shop
													</a>
												</li>
												<li>
													<a asp-controller="Customers" asp-action="Index">
														<i class="fa fa-user"></i> Quản lý khách hàng
													</a>
												</li>
											</ul>
										</li>

									}

									@if (!User.Identity.IsAuthenticated)
									{
										<li class="dropdown">
											<a href="#"><i class="fa fa-user-plus"></i> Đăng Ký<i class="fa fa-angle-down"></i></a>
											<ul role="menu" class="sub-menu">
												<li>
													<a asp-controller="Auth" asp-action="Register">
														<i class="fa fa-user"></i> Tài khoản Khách Hàng
													</a>
												</li>
												<li>
													<a asp-controller="Auth" asp-action="RegisterShop">
														<i class="fa fa-cart-plus"></i> Tài khoản Shop
													</a>
												</li>
												<li>
													<a asp-controller="Auth" asp-action="VerifyEmail">
														<i class="fa fa-check"></i> Xác thực tài khoản
													</a>
												</li>
											</ul>
										</li>
									}


									@if (!User.Identity.IsAuthenticated)
									{
										<li>
											<a asp-controller="Auth" asp-action="Login">
												<i class="fa fa-sign-in"></i> Đăng Nhập
											</a>
										</li>
									}

								
							</ul>
						</div>
					</div>



						<div class="col-sm-3">
							<div class="pull-right">
								<form id="searchForm" method="get" asp-controller="Home" asp-action="Index" class="search-container">
									<input type="text" name="search" placeholder="Tìm kiếm sản phẩm..." value="@ViewBag.Search" class="search-input" />
									<button type="submit" class="search-button">
										<i class="fa fa-search"></i>
									</button>
								</form>
							</div>
						</div>



				</div>
			</div>
		</div>
	</header>

		<main>
            <section>
                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
                }

                <div class="container">
                    @RenderBody()
                </div>
            </section>
		</main>

	

	<footer id="footer">
		<!--Footer-->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="companyinfo">
							<h2><span>HN</span>Shop</h2>
							<p>Website mua sắp trực tuyến uy tính, chất lượng dành cho bạn</p>
						</div>
					</div>
					<div class="col-sm-7">
						
					</div>

					<div class="col-sm-3">
						<div class="address">
							<img src="~/images/home/map.png" alt="" />
							<p>Đại Học Cần Thơ, Ninh Kiều, Cần Thơ</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		

		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-right">Designed by Huỳnh Thị Yến Như</p>
				</div>
			</div>
		</div>
			
	</footer><!--/Footer-->
	</div>

	
	<script>
		function confirmLogout() {
			if (confirm("Bạn có chắc chắn muốn đăng xuất không?")) {
				document.getElementById('logoutForm').submit();
			}
		}
	</script>
	<script>
		var productUrl = "@Url.Action("Index", "Home")";
	</script>

	<script>
		function loadUnreadChatCount() {
			$.get('/Chat/GetUnreadMessageCount', function (data) {
				if (data.count > 0) {
					$('#chatBadge').text(data.count).show();
				} else {
					$('#chatBadge').hide();
				}
			});
		}

		$(document).ready(function () {
			loadUnreadChatCount();

			setInterval(loadUnreadChatCount, 60000);
		});
	</script>
	<script>
		$(document).ready(function () {
			$('.mark-read-btn').click(function () {
				const btn = $(this);
				const id = btn.data('id');
				$.post('/Notification/MarkAsRead', { notificationId: id }, function () {
					btn.replaceWith('<span class="noti-badge-read"><i class="fa fa-check"></i> Đã đọc</span>');
					$('#notification-' + id).removeClass('unread');
				});
			});
		});
	</script>

	<script src="~/js/auth.js"></script>
	<script src="~/js/cart.js"></script>
	<script src="~/js/bootstrap.min.js"></script>


	
	
</body>
</html>