@model List<HNSHOP.Dtos.Response.ProductResDto>
<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				
				<div class="left-sidebar">
					<h2>Bộ lọc sản phẩm</h2>

					<form id="filterForm">
						

						<!-- Lọc theo loại sản phẩm -->
							<h2>Loại sản phẩm</h2>
							<div class="panel-group category-products" id="accordian">
								<div class="panel panel-default">
										@foreach (var type in ViewBag.ProductTypes)
										{
											<div class="panel-heading">
													<h4 class="panel-title @(ViewBag.ProductTypeId == type.Id ? "active" : "")">
											<a href="#" class="filter-category" data-product-type="@type.Id">@type.Name</a>
												</h4>
											</div>
										}
										<div class="panel-heading">
											<h4 class="panel-title @(ViewBag.ProductTypeId == null ? "active" : "")">
										<a href="#" class="filter-category" data-product-type="">Tất cả sản phẩm</a>
											</h4>
										</div>
								</div>
							</div>
						

						<!-- Sắp xếp theo -->
						<div class="filter-section">
							<h2>Sắp xếp theo</h2>
							<div class="sort-wrapper">
								<select id="sortBy" name="sortBy" class="form-control sort-select">
									<option value="price">Giá</option>
									<option value="name">Tên</option>
									<option value="likes">Lượt thích</option>
									<option value="rating">Đánh giá</option>
								</select>

								<button id="toggleSortType" type="button" class="sort-toggle" data-sort-type="desc">
									<i class="fa fa-sort-amount-desc"></i>
								</button>

								<input type="hidden" id="sortType" name="sortType" value="desc">
							</div>
						</div>



						<!-- Lọc theo số lượt thích và đánh giá -->
						
					</form>
					<div class="shipping text-center">
						<!--shipping-->
						<img src="~/images/home/shipping.jpg" alt="" />
					</div><!--/shipping-->
				</div>

			</div>

			<div class="col-sm-9 padding-right">
				<div class="features_items">
					<!--features_items-->
					<h2 class="title text-center">Danh sách sản phẩm</h2>


					<!-- Hiển thị danh sách sản phẩm -->
					<div id="productContainer">
						@{
							@await Html.PartialAsync("_ProductListPartial", Model)
						}
					</div>
				</div><!--features_items-->
				<nav>
					<ul class="pagination">
						@for (int i = 1; i <= ViewBag.TotalPages; i++)
						{
							<li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
								<a href="#" class="page-link pagination-link"
								   data-page="@i">@i</a>
							</li>
						}
					</ul>
				</nav>



			</div>
		</div>
	</div>
</section>
<script src="~/js/home.js"></script>


